html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.bg-pastel-green {
  background-color: #77dd77;
}

.float-right {
  float: right;
}

:root:root {
  --adm-color-primary: #ff4500;
  /* 亮红色，象征迪士尼的活力和冒险精神 */
  --adm-color-success: #48d1cc;
  /* 浅绿色，给人宁静和成功的感觉 */
  --adm-color-warning: #ffa500;
  /* 亮橙色，足够引人注意但不至于过于刺眼 */
  --adm-color-danger: #cc3333;
  /* 深红色，警告和危险颜色需要足够醒目 */
  --adm-color-yellow: #ffff00;
  /* 鲜亮的黄色，象征快乐和积极 */
  --adm-color-orange: #ff4500;
  /* 醒目的橙色，增加丰富性和活泼 */
  --adm-color-wathet: #1e90ff;
  /* 浅蓝色，给人清爽和宁静的感觉 */
}

.text-white {
  color: rgb(255 255 255);
}

.px-4 {
  padding-left: 20px;
  padding-right: 20px;
}

.bg-blue-500 {
  background-color: var(--adm-color-primary);
}

.rounded-xl {
  border-radius: 0.75rem;
}

.w-fit {
  width: fit-content;
}

.bg-zinc-100 {
  background-color: rgb(244 244 245);
}

.markdown {
  font-size: 22px;
}

body {
  --adm-font-size-main: 20px !important;
}

.alita-footer {
  padding-bottom: var(--alita-safe-area-bottom);
}

.alita-head .adm-nav-bar{
  padding-top: 40px !important;
  height:85px  !important;
}